/*************************
  *** Общие стили ***
**************************/
html {
	font-size: 16px;
}

body {
	font-family: 'Arial', sans-serif;
	color: #000000;
	background-color: #e5e5e5;
}

a {
	display: inline-block;

	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #0044bb;
}

a:hover {
	color: #035efa;
}

p {
	margin: 0;
}

button {
	border: none;
}

/* Текстовые поля */
[type="text"] {
	padding: 22px 16px;

	border: 1px solid #dcdcdc;
	border-radius: 10px;
}

/* Текстовые поля (при наведении и в фокусе) */
[type="text"]:focus,
[type="text"]:hover {
	outline: none;
	border-color: #99bdff;
}

/*************************
	*** Классы ***
**************************/
.text {
	font-size: 22px;
	text-align: center;
}

.label {
	font-size: 19px;
	color: #8b8b8b;
}

.btn {
	width: 100%;
	padding: 16px;

	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;

	color: #000000;

	transition: all 0.2s;
}

/* Кнопки (при наведении) */
.btn:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #003ead;
}

/* Кнопки и ссылки (в фокусе) */
a:focus,
.btn:focus {
	outline: none;
	box-shadow: inset 0 0 0 2px #99bdff;
}

.btn-default {
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
}

.btn-warning {
	background-color: #ffdc60;
}

.yandex {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;
	margin-top: 100px;
	padding: 40px;
	width: 450px;
	height: 630px;

	border-radius: 25px;
	background-color: #ffffff;
}

.yandex,
.yandex * {
	box-sizing: border-box;
}

.yandex .logo {
	margin-bottom: 15px;
}

.yandex .text {
	margin-bottom: 65px;
}

.yandex-form {
	display: flex;
	flex-direction: column;
}

.yandex-form .login {
	width: 372px;
	height: 66px;

	margin-bottom: 10px;
}

.yandex-form .link {
	margin-bottom: 35px;
}

.yandex-form .btn-login {
	margin-bottom: 20px;
}

.yandex .btn-register {
	margin-bottom: 68px;
}

.yandex .label {
	margin-bottom: 20px;
}

.yandex .social-services {
	display: flex;
	width: 100%;
}

.social-services a {
	margin: auto;

	font-size: 0;
	transition: all 0.2s;
}

.social-services a:hover {
	transform: scale(1.15);
}

.icon {
	min-width: 30px;
	height: 30px;

	background-repeat: no-repeat;
}

.icon-vk {
	background-image: url("../img/icon-vk.svg");
}

.icon-fb {
	background-image: url("../img/icon-fb.svg");
}

.icon-google {
	background-image: url("../img/icon-google.svg");
}

.icon-qr {
	padding-left: 40px;
	padding-top: 5px;

	background-image: url("../img/icon-qr.svg");
}

.icon-qr span {
	font-size: 20px;
	font-weight: normal;
	color: #000000;
}

.icon-more {
	background-image: url("../img/icon-more.svg");
}